* {
    padding:0;
    margin: 0;
}

#Title {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    
    padding: 1rem;
    
    outline: auto;
    margin: 1rem;
}

#title-hidden-content {
    display: none;

    width: fit-content;
}

#Title:hover #title-hidden-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    width:fit-content;
    
}

#personal-blurb {
    width: 50vw;
    text-align: center;
}

#resume {
    outline: auto;
    padding: 16px 32px;
}