* {
    padding:0;
    margin: 0;
}

#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;

}

#projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.project-list-tooltip{
    display: block;
    text-align: center;
    outline: 1px solid black;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
    background-color: white;
    max-width: 33vw;
    margin: 1rem
}

.preview-image {
    width: auto;
    height: 25vh;
    margin: 0.25rem;
    object-fit: cover;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin: 0.25rem;
    justify-content: center;
    

}

.tag {
    align-self: center;
    padding: 0.25rem 0.5rem;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
}
